<div class="row">
  <%= search_form_for @q do |f| %>

  <div class="form-horizontal">

    <div class="form-group">
      <%= f.label :store_customer_customer_name_cont, "会社名", class:"control-label col-md-1 text-right" %>
      <div class="col-md-3">
        <%= f.collection_select :store_customer_customer_name_cont, Customer.all.order("id desc"), :customer_name, :customer_name, {include_blank: true}, {class:"form-control"} %>
      </div>

      <%= f.label :store_store_name_cont, "店舗名", class:"control-label col-md-1 text-right" %>
      <div class="col-md-3">
        <%= f.search_field :store_store_name_cont, class:"form-control" %>
      </div>

      <%= f.label :title_cont, "タイトル", class:"control-label col-md-1" %>
      <div class="col-md-3">
          <%= f.search_field :title_cont, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 text-right">
        <%= link_to "クリア", tickets_path, class:"btn btn-default" %>
        <%= f.submit "検索", class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
